@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #f4f4f5;
    background-color: #1d152d;
}

#root {
    width: 100svw;
    height: 100svh;
}

main {
    box-shadow: inset 0px 0px 10px 0px #0009;
    -webkit-box-shadow: inset 0px 0px 10px 0px #0009;
    -moz-box-shadow: inset 0px 0px 10px 0px #0009;   
}

footer {
    box-shadow: 0 50vh 0 50vh #1d152d;
    -webkit-box-shadow: 0 50vh 0 50vh #1d152d;
    -moz-box-shadow: 0 50vh 0 50vh #1d152d;
}