@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #f4f4f5;
    background-color: #1d152d;
}

#root {
    width: 100svw;
    height: 100svh;
}

*,
*::before,
*::after {
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

main {
    box-shadow: inset 0px 0px 10px 0px #0009;
    -webkit-box-shadow: inset 0px 0px 10px 0px #0009;
    -moz-box-shadow: inset 0px 0px 10px 0px #0009;   
}

footer {
    box-shadow: 0 50vh 0 50vh #1d152d;
    -webkit-box-shadow: 0 50vh 0 50vh #1d152d;
    -moz-box-shadow: 0 50vh 0 50vh #1d152d;
}

img[src$="logo.png"] {
    image-rendering: pixelated;
}

td {
    color: #d4d4d8;
}